<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Movie-Booking/assets/css/admin.css">
</head>
<body>
    
    <div class="saved-container">
        
    </div>
    <div class="popup">
        <div class="popup-content">
            <p class="removeTitle">Are you sure want to remove it? This action can't be undone.</p>
            <div class="buttons">
                <button class="removeIt">Remove</button>
                
            </div>
            
        </div>
    </div>
    <script src="/Movie-Booking/assets/js/admin.js"></script>    
</body>
</html>