<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Ticket Booking System</title>
    <link rel="stylesheet" href="/Movie-Booking/assets/css/style.css">
</head>
<body>
  <div class="movie-selected">
     <p class="selected-name">Mission Impossible</p>
     <p class="selected-date">4 NOV</p>
     <div class="time">
        <p class="times">Time:</p>
        <div name="" id="selected-time">
            10:45 PM
        </div>
     </div>
  </div>
  <div class="seats-screen">
    <div class="screen">
      Screen This Side
    </div>
   
  </div>
  <div class="total-price">
    <p class="price">Total Price : Rs.<span class="money">0</span></p>
    <button class="proceed-btn">Proceed</button>
  </div>
<script src="/Movie-Booking/assets/js/booking.js"></script>    
</body>
</html>