<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Ticket Booking System</title>
    <link rel="stylesheet" href="/Movie-Booking/assets/css/style.css">
</head>
<body>
  <div class="movie-selected">
     <p class="selected-name">Mission Impossible</p>
     <p class="selected-date">4 NOV</p>
     <div class="time">
        <p class="times">Time:</p>
        <div name="" id="selected-time">
            10:45 PM
        </div>
     </div>
  </div>
  <div class="seats-screen">
    <div class="screen">
      Screen This Side
    </div>
    <div class="seat-row">
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">A1</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">A2</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">A3</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">A4</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">A5</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">A6</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">A7</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">A8</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">A9</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">A10</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">A11</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">A12</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">A13</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">A14</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">A15</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">A16</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">A17</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">A18</div>
    </div>
    <div class="seat-row">
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">B2</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">B1</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">B3</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">B4</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">B5</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">B6</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">B7</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">B8</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">B9</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">B10</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">B11</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">B12</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">B13</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">B14</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">B15</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">B16</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">B17</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">B18</div>
    </div>
    <div class="seat-row">
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">C1</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">C2</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">C3</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">C4</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">C5</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">C6</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">C7</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">C8</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">C9</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">C10</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">C11</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">C12</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">C13</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">C14</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">C15</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">C16</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">C17</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">C18</div>
    </div>
    <div class="seat-row">
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">D1</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">D2</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">D3</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">D4</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">D5</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">D6</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">D7</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">D8</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">D9</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">D10</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">D11</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">D12</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">D13</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">D14</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">D15</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">D16</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">D17</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">D18</div>
    </div>
    <div class="seat-row">
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">E1</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">E2</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">E3</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">E4</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">E5</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">E6</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">E7</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">E8</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">E9</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">E10</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">E11</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">E12</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">E13</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">E14</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">E15</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">E16</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">E17</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">E18</div>
    </div>
    <div class="seat-row">
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">F1</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">F2</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">F3</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">F4</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">F5</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">F6</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">F7</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">F8</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">F9</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">F10</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">F11</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">F12</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">F13</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">F14</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">F15</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">F16</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">F17</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">F18</div>
    </div>
    <div class="seat-row">
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">G1</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">G2</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">G3</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">G4</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">G5</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">G6</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">G7</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">G8</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">G9</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">G10</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">G11</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">G12</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">G13</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">G14</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">G15</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">G16</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">G17</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">G18</div>
    </div>
    <div class="seat-row">
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">H1</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">H2</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">H3</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">H4</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">H5</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">H6</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">H7</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">H8</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">H9</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">H10</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">H11</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">H12</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">H13</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">H14</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">H15</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">H16</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">H17</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">H18</div>
    </div>
    <div class="seat-row">
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">I1</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">I2</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">I3</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">I4</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">I5</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">I6</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">I7</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">I8</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">I9</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">I10</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">I11</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">I12</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">I13</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">I14</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">I15</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">I16</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">I17</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">I18</div>
    </div>
    <div class="seat-row">
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">J1</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">J2</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">J3</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">J4</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">J5</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">J6</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">J7</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">J8</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">J9</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">J10</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">J11</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">J12</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">J13</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">J14</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">J15</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">J16</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">J17</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">J18</div>
    </div>
    <div class="seat-row">
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">K1</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">K2</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">K3</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">K4</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">K5</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">K6</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">K7</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">K8</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">K9</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">K10</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">K11</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">K12</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">K13</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">K14</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">K15</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">K16</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">K17</div>
      <div class="box"><img src="/Movie-Booking/Photos/Seats.png" alt="" class="seat-img">K18</div>
    </div>
  </div>
  <div class="total-price">
    <p class="price">Total Price : Rs.<span class="money">0</span></p>
    <button class="proceed-btn">Proceed</button>
  </div>
<script src="/Movie-Booking/assets/js/booking.js"></script>    
</body>
</html>