<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Ticket Booking System</title>
    <link rel="stylesheet" href="/Movie-Booking/assets/css/style.css">
</head>
<body>
    <div class="movie-selected">
        <p class="selected-name"></p>
        <p class="selected-date"></p>
        <div class="time">
           <p class="times">Time: <span class="showClock"></span></p>
           
        </div>
        <div class="total-seats">
            <p class="seat-title">Seats: <span class="allSeats"></span></p>
        </div>
        <div class="expenses">
            <p class="expenses-title">Total Price: Rs.<span class="allExpenses"></span></p>
        </div>
     </div>
    <p class="detail-title">Enter Your Details</p>
    <div class="detail-container">
        <div class="detail-input">
            <label for="" class="peron-name">Name : <input type="text" class="people-name" id="name-people"></label>
        </div>
        <div class="detail-input">
            <label for="" class="peron-name">E-Mail : <input type="email" class="people-name" id="email-people"></label>
        </div>
        <div class="detail-input">
            <label for="" class="peron-name">Address : <input type="text" class="people-name" id="address-people"></label>
        </div>
    </div>
    <button class="submit">Submit</button>
<script src="/Movie-Booking/assets/js/confirmation.js"></script>    
</body>
</html>